//Titulo de todas las paginas
h4 {
    @extend .h4;
}

//Index-Lugares
.index__lugares__size {
    width: 100vw;
    @extend .grid-center;
    padding: 0 8% 1% 7%;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "main__lugares1 main__lugares2 main__lugares3"
    ;


    .main__lugares1 {
        grid-area: main__lugares1;
        padding: 0 10px 0 10px;
    }


    .main__lugares2 {
        grid-area: main__lugares2;
        padding: 0 10px 0 10px;
    }

    .main__lugares3 {
        grid-area: main__lugares3;
        padding: 0 10px 0 10px;
    }
}

//Index-Tour
.index__tour--flex {
    @extend .flex-wrap;

    .index__tour {
        width: 800px;
        @extend .grid-center;
        gap: 5px;
        padding: 10px;
        grid-template-columns: 1.5fr 2fr;
        grid-template-areas:
            "main__tour1 main__tour2"
        ;

        .main__tour1 {
            grid-area: main__tour1;
            padding: 0 10px 0 10px;
        }

        .main__tour2 {
            grid-area: main__tour2;
            padding: 0 10px 0 10px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);

            grid-template-areas:
                "main__tour2--arriba main__tour2--arriba"
                "main__tour2--abajo main__tour2--abajo"
                "main__tour2--abajo main__tour2--abajo";

            .main__tour2--arriba {
                grid-area: main__tour2--arriba;
            }

            .main__tour2--abajo {
                grid-area: main__tour2--abajo;
            }

        }

    }

}

//Index-Fotos

.main__fotos--ancho {
    width: 600px;
    @extend .flex-center;


    .main__fotos {
        @extend .grid-center;
        width: 100vw;
        margin: 0 2px 0 0;
        gap: 0;
        height: 360px;
        grid-column: 1fr;
        grid-template-rows: 0.5fr 3.5fr;
        grid-template-areas:
            "main__fotos--arriba"
            "main__fotos--abajo"
        ;

        .main__fotos--arriba {
            grid-area: main__fotos--arriba;
            width: 600px;
            @extend .flex-center;
        }

        .main__fotos--abajo {
            width: 600px;
            grid-area: main__fotos--abajo;
            @extend .grid-center;
            gap: 0;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(4, 1fr);

            grid-template-areas:
                "main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2"
                "main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid1 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2 main__fotos__grid2"
                "main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4"
                "main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos_grid3 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4 main__fotos__grid4";


            .main__fotos__grid1 {
                grid-area: main__fotos__grid1;

            }

            .main__fotos__grid2 {
                grid-area: main__fotos__grid2;

            }

            .main__fotos_grid3 {
                grid-area: main__fotos_grid3;

            }

            .main__fotos__grid4 {
                grid-area: main__fotos__grid4;

            }
        }
    }
}

.main__fotos--botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

//Index -Videos

.main__videos {
    @extend .grid-center;
    width: 100vw;
    margin: 0 2px 0 0;
    gap: 0;
    height: 360px;
    grid-column: 1fr;
    grid-template-rows: 0.5fr 3.5fr;
    grid-template-areas:
        "main__fotos--arriba"
        "main__fotos--abajo"
    ;

    .main__videos--arriba {
        grid-area: main__fotos--arriba;
        width: 600px;
        @extend .flex-center;
    }

    .main__videos--abajo {
        width: 600px;
        grid-area: main__fotos--abajo;
        @extend .flex-center;

        .main__videos__size {
            width: 600px;
            height: 300px;
        }
    }

}

@media (max-width: 800px) {

    .index__lugares__size {
        padding: 0 4% 0.5% 3%;
    }
}


@media (max-width:640px) {

    .index__lugares__size {
        display: none;
    }

    .main__size__responsive1 {
        width: 100vw;
        display: grid;
        padding: 5% 25% 5% 25%;
        gap: 10px;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "main__lugares1"
            "main__lugares2"
            "main__lugares3"
        ;

        .main__lugares1__responsive1 {
            grid-area: main__lugares1;
            padding: 0 30px 0 30px;

        }

        .main__lugares2__responsive1 {
            grid-area: main__lugares2;
            padding: 0 30px 0 30px;
        }

        .main__lugares3__responsive1 {
            grid-area: main__lugares3;
            padding: 0 30px 0 30px;
        }
    }


    .index__tour {
        width: 500px;

        .main__tour1 {
            height: 100%;
        }

        .main__tour2 {
            height: 100%;
        }
    }

    .main__fotos--ancho {
        width: 380px;

        .main__fotos {
            width: 100%;

            .main__fotos--abajo {
                width: 390px;
                height: 100%;
            }

            .main__fotos--arriba {
                width: 390px;
            }
        }
    }

    .main__fotos--botones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 12px;
    }

    .main__videos {
        padding: 0 10px 0 10px;

        .main__videos--arriba {
            width: 380px;
        }

        .main__videos--abajo {
            width: 380px;

            .main__videos__size {
                width: 380px;
                height: 300px;
            }
        }
    }
}


@media (max-width: 500px) {

    .main__size__responsive1 {

        .main__lugares1__responsive1 {
            grid-area: main__lugares1;
            padding: 0 4% 0 4%;

        }

        .main__lugares2__responsive1 {
            grid-area: main__lugares2;
            padding: 0 4% 0 4%;
        }

        .main__lugares3__responsive1 {
            grid-area: main__lugares3;
            padding: 0 4% 0 4%;
        }

    }
}